<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcommerce.heecommerce.order.mapper.OrderQueryMapper">

  <!-- 주문 검증을 위해 주문 조회  -->
  <select id="findOrderEntityForOrderApproveValidation" resultType="OrderForOrderApproveValidationDto">
    SELECT deal_product_uuid, real_order_quantity, total_payment_amount, out_of_stock_handling_option FROM `order` WHERE uuid = #{orderUuid}
  </select>
</mapper>
